@font-face {
  font-family: 'Basis Regular';
  src: url('fonts/BasisGrotesque-Regular.otf');
}
@font-face {
  font-family: 'Basis Medium';
  src: url('fonts/BasisGrotesque-Medium.otf');
}
@font-face {
  font-family: 'PDU';
  src: url('fonts/pdu_regular.woff');
}