doctype html

html(lang= htmlWebpackPlugin.options.language, style="background-color: "+htmlWebpackPlugin.options.bgcolor+";")
  include includes/_head.pug
  body
    noscript
      strong We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.
    #app
    #three-wrapper
    block scripts
